@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
}
section{
    min-height: 100vh;
    background-size: cover;
    background-position:center;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main{
    background-image: url(img/bgMAIN.png);
   
}
#about{
    background-image: url(/img/bgABOUT.png);
}
#skills{
    background-image: url(/img/bgSKILLS.png)
}
#works{
    background-image: url(/img/bgWORKS.png)
}

#comments{
    background-image: url(/img/bgCOMMENTS.png)
}

.mascot{
   width: 90px;
}
.window{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
.window_header{
    background-color:#D2D0F7 ;
    padding: 15px 20px ;
    display: flex;
    gap: 9px;
    border-bottom: 1px solid black;
}
.circle{
    width: 22px ;
    height: 22px ;
    border:1px solid black;
    border-radius: 50%;
}
.circle:nth-of-type(1){
    background-color:#FF6A00;
}
.circle:nth-of-type(2){
    background-color:#FFE603;
}
.circle:nth-of-type(3){
    background-color:#04C800;
}
.name{
    font-family: Inter;
    font-weight: 700;
    font-size: 80px;
    color: #2B2D35;

}
.description{
    font-family: comfortaa;
    font-weight: 700;
    font-size:20px;
    color: #2B2D35;
}
.window_content{
    padding: 40px;
}
.button{
    background-color:#BBFF2C ;
    color: #000;
    text-decoration: none;
    padding: 22px 26px;
    display: block;
    min-width: 200px;
    border:2px solid black ;
    border-radius:100px ;
    font-family: comfortaa ;
    font-weight:700 ;
    font-size: 20px;
    text-align: center;
}
.decor{
    position: absolute;
    left: 0;
    bottom: 0;
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
    
}
@keyframes float {
    from {
transform: translateY(0);
    }
    to{
transform: translateY(-50px);
    }

}
.logo{
    color: #BBFF2C;
    font-size: 64px;
    font-weight: 700;
    font-family: inter;
    position: absolute;
    left: 0px;
}
.menu_link{
    color: #000;
    background-color: #fff;
    border:2px solid #000;
    border-radius: 12px;
    font-family: comfortaa;
    font-size: 20px;
    font-weight: 700;
    width: 112px;
    padding: 10px 0px;
    display: block;
    text-align: center;
    text-decoration: none;

}
.menu{
    display: flex;
    gap: 20px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 20px 40px;
}
.about__card{
background-color: #D2D0F7;

}
.section-title{
    font-family: inter;
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    text-shadow: 5px 5px 0px #000;
}
.active{
    background-color:#792aff;
    color: #fff;
}
.about__bio{
background-color:#792aff ; 
color: #fff;  
font-family: comfortaa;
font-size: 20px;
font-weight: 700;
}
.about__wrapper{
    display: flex;
}
.img{
    width: 550px;
    height: 350px;
}
html {
    scroll-behavior: smooth;
}

.menu_toggle{
    background:none;
    border: none;
    display: none;
    

}
@media(max-width:1000px){
    .logo{
        font-size: 40px;
        }
    .menu{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #200153;
        }
    .oppened{
        display: flex;
    }

        
    .menu_toggle{
            display: block;
            z-index: 100;
        }
}

/* TODO: Remove this */
.button_about{
    size:200px;
    padding: 35px 25px;
}