*{
    margin: 0;
}
section{
    min-height: 100vh;
    background-size: cover;
    background-position:center;
}
#main{
    background-image: url(img/bgMAIN.png);
}
.mascot{
    margin: 50px,65px;
    padding: 45px,55px;
}