@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
}
section{
    min-height: 100vh;
    background-size: cover;
    background-position:center;
}
#main{
    background-image: url(img/bgMAIN.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mascot{
   width: 90px;
}
.window{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
.window_header{
    background-color:#D2D0F7 ;
    padding: 15px 20px ;
    display: flex;
    gap: 9px;
    border-bottom: 1px solid black;
}
.circle{
    width: 22px ;
    height: 22px ;
    border:1px solid black;
    border-radius: 50%;
}
.circle:nth-of-type(1){
    background-color:#FF6A00;
}
.circle:nth-of-type(2){
    background-color:#FFE603;
}
.circle:nth-of-type(3){
    background-color:#04C800;
}
.name{
    font-family: Inter;
    font-weight: 700;
    font-size: 80px;
    color: #2B2D35;

}
.description{
    font-family: comfortaa;
    font-weight: 700;
    font-size:20px;
    color: #2B2D35;
}
.window_content{
    padding: 40px;
}
.button{
    background-color:#BBFF2C ;
    color: #000;
    text-decoration: none;
    padding: 22px 26px;
    display: block;
    min-width: 200px;
    border:2px solid black ;
    border-radius:100px ;
    font-family: comfortaa ;
    font-weight:700 ;
    font-size: 20px;
    text-align: center;
}
.decor{
    position: absolute;
    left: 0;
    bottom: 0;
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
    
}
@keyframes float {
    from {
transform: translateY(0);
    }
    to{
transform: translateY(-50px);
    }

}